<button (click)="GetAllPosts()">GetAllPosts</button>

<div class="table-container">
  <h2>Comments Table</h2>
  <button (click)="GetAllComments()">GetAllComments</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Comment</th>
        <th>Post ID</th>
        <th>Likes</th>
        <th>User ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>total</th>
        <th>skip</th>
        <th>limit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.body }}</td>
        <td>{{ comment.postId }}</td>
        <td>{{ comment.likes }}</td>


        <!-- Accessing the 'user' object inside each comment -->
        <td>{{ comment.user?.id }}</td>
        <td>{{ comment.user?.username }}</td>
        <td>{{ comment.user?.fullName }}</td>
        <td>{{ comment.comments?.total }}</td>
        <td>{{ comment.comments?.skip }}</td>
        <td>{{ comment.comments?.limit }}</td>
      </tr>
      
    </tbody>
  </table>
</div>



